<h1>REGISTER</h1>

<% if @message %>
	<%= @message %>
	<% for talk in @explain %>
		<%= talk %>
	<% end %>
<% end %>


<div class="container">
<%= bootstrap_form_for(@user, layout: :inline, url: {action: "create"}) do |f| %>
	
	<%= f.text_field :first_name, :class=>"input-medium" %><br/>
	<%= f.text_field :last_name %><br/>	
	<%= f.text_field :email %><br/>
	<%= f.password_field :password %><br/>
	<%= f.password_field :password_confirmation %><br/>
	<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
	
	<%= f.submit "Register" %>
<% end %>
</div>

<td><a href= "/" >Home</a></td>